<a href="https://colab.research.google.com/github/fredericokrohling/1-Python-MBA/blob/main/1_pratica01_a_e_c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
inp = input()
print('Saida:', inp)

23
Saida: 23

In [ ]:
veic = {
    'a123' : ['carro','voyajao','azul'],
    'g443' : ['carro','duca','branco'],
    'd112' : ['carro','fiat','amarelo']
}
print(veic)

veic ['t144'] = ['carro','ferrari','azul'],

print(veic)

{'a123': ['carro', 'voyajao', 'azul'], 'g443': ['carro', 'duca', 'branco'], 'd112': ['carro', 'fiat', 'amarelo']}
{'a123': ['carro', 'voyajao', 'azul'], 'g443': ['carro', 'duca', 'branco'], 'd112': ['carro', 'fiat', 'amarelo'], 't144': (['carro', 'ferrari', 'azul'],)}

In [ ]:
veic =

In [ ]:
#ler 2 var e imprimir concatenacao
a = input('digite o valor de a: ')
b = input('digite o valor de b: ')
print('O valor de a+b é:', a + b)
# ou print(a,b) // vai acrescentar um espaco, com + concatena se for char, se for numero vai somar

digite o valor de a: jo
digite o valor de b: se
O valor de a+b é: jose

In [ ]:
# estudo dataframe
%%writefile data_access.csv
day,month,num_access,category
31,5,101,student
31,5,501,teacher
31,5,690,coordendador
4,6,145,student
4,6,578,teacher
4,6,692,coordendador
19,7,133,student
19,7,567,teacher
19,7,623,coordendador

Writing data_access.csv

In [ ]:
import pandas as pd
df = pd.read_csv('data_access.csv')

df
df.sample(1)

   day  month  num_access      category
8   19      7         623  coordendador

In [ ]:
#acrescentar coluna ao DF
df['year'] = 2023

df

   day  month  num_access      category  year
0   31      5         101       student  2023
1   31      5         501       teacher  2023
2   31      5         690  coordendador  2023
3    4      6         145       student  2023
4    4      6         578       teacher  2023
5    4      6         692  coordendador  2023
6   19      7         133       student  2023
7   19      7         567       teacher  2023
8   19      7         623  coordendador  2023

In [ ]:
#acrescentar valores usando uma lista. Shape[0] representam a quantidade de linhas iniciando do zero
lista = list(range(1,df.shape[0]+1))
df['id'] = lista
df

   day  month  num_access      category  year  id
0   31      5         101       student  2023   1
1   31      5         501       teacher  2023   2
2   31      5         690  coordendador  2023   3
3    4      6         145       student  2023   4
4    4      6         578       teacher  2023   5
5    4      6         692  coordendador  2023   6
6   19      7         133       student  2023   7
7   19      7         567       teacher  2023   8
8   19      7         623  coordendador  2023   9

In [ ]:
#removendo colunas
#podemos usar os comandos del ou drop
df = df.drop('id', axis =1)
print(df)

   day  month  num_access      category  year
0   31      5         101       student  2023
1   31      5         501       teacher  2023
2   31      5         690  coordendador  2023
3    4      6         145       student  2023
4    4      6         578       teacher  2023
5    4      6         692  coordendador  2023
6   19      7         133       student  2023
7   19      7         567       teacher  2023
8   19      7         623  coordendador  2023

In [ ]:
#Print com variaveis
nome= 'Fred'
idade = 32
altura = 1.8

print('meu nome é %s, tenho %.2f de altura e %d anos' %(nome, altura, idade))

#%.2f significa 2 casas decimais

meu nome é Fred, tenho 1.80 de altura e 32 anos

In [ ]:
nome = input('Digite o nome: ')
idade = int(input('Digite a idade: '))
altura = float(input('Digite a altura: '))
print('O nome da pessoa é %s, sua idade é %d e a altura %.2f' %(nome, idade, altura))

Digite o nome: jose
Digite a idade: 23
Digite a altura: 1.55
O nome da pessoa é jose, sua idade é 23 e a altura 1.55

In [ ]:
#calculo imc
altura = float(input('Digite a altura: '))
peso = float(input('Digite o peso: '))
print('O IMC é:', round(peso/altura**2,2))

Digite a altura: 1.66
Digite o peso: 54
O IMC é: 19.6

In [ ]:
#Calculo deslocamento
acel = float(input('Digite a aceleracao do corpo: '))
vel_init = float(input('Digite a velocidade inicial: '))
tempo = float(input('Digite o intervalo de tempo: '))
s = vel_init*tempo + (acel*tempo**2/2)
print('O deslocamento é de %.2f' % s)

Digite a aceleracao do corpo: 34
Digite a velocidade inicial: 50
Digite o intervalo de tempo: 10
O deslocamento é de 2200.00 metros

In [ ]:
#exe 5
x = int(input('Digite o 1 num: '))
y = int(input('Digite o 2 num: '))
print('Valor antigo de X: ',x)
print('Valor antigo de Y: ',y)
aux = int = x
x = y
y = aux
print('Novo Valor de X: ',x)
print('Novo Valor de Y: ',y)

Digite o 1 num: 4
Digite o 2 num: 8
Valor antigo de X:  4
Valor antigo de Y:  8
Novo Valor de X:  8
Novo Valor de Y:  4