<a href="https://colab.research.google.com/github/fredericokrohling/1-Python-MBA/blob/main/Video_18_Pandas_2_S%C3%A9ries_estat%C3%ADsticas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Objetivo**
Series
Estatisticas
Filtragem agrupada
Limpeza de dados
Preparacao de dados
[texto do link](https://)

In [1]:
# Serie - array unidimensional com um determinado tipo de dado
# similar a um dicionario, possuindo indice que pode funcionar como chave e valores
# pode ser obtida a partir de uma coluna de um dataframe
# pode ser criada por meio de um array numpy, dicionario ou escalar
import pandas as pd
import numpy as np
# serie criada por meio do panda series
serie_aleat = pd.Series(np.random.rand(10))
print(serie_aleat)

0    0.145623
1    0.072356
2    0.419996
3    0.863997
4    0.254466
5    0.460321
6    0.634722
7    0.333718
8    0.435832
9    0.151530
dtype: float64

In [4]:
#Criando a partir de dicionario, a chave e a placa do carro
veic = {
    'aa0a':1980,
    'bb4c':1993,
    'c4vb2':1999,
    'r453w':1983}

In [8]:
import numpy as np
import pandas as pd

s_veic = pd.Series(veic)
print(s_veic)

aa0a     1980
bb4c     1993
c4vb2    1999
r453w    1983
dtype: int64

In [9]:
# Se comporta de forma similar aos nd arrays
s_veic.mean()

1988.75

In [10]:
# mostrar os veiculos com ano de fab maior do que a media
s_veic[s_veic > s_veic.mean()]

bb4c     1993
c4vb2    1999
dtype: int64

In [11]:
s_veic > s_veic.mean()

aa0a     False
bb4c      True
c4vb2     True
r453w    False
dtype: bool

In [12]:
# transformar para Pandas Array, ira perder o indice
s_veic.array

<NumpyExtensionArray>
[1980, 1993, 1999, 1983]
Length: 4, dtype: int64

In [13]:
# transformar para NP array
s_veic.to_numpy()

array([1980, 1993, 1999, 1983])

In [ ]:
#importando um arquivo para analise
import pandas as pd
df = pd.read_csv('countries_data.tsv', sep='\t')

#verificando uma amostra de 8 linhas
df.sample(8)

#recuperando dados
df[['year','pop','lifeExp']]

#fazendo consultas mais elaboradas nos dados
df.loc[(df['country'] == 'Puerto Rico') & (df['year'] >= 1999), ['year','pop','lifeExp']]

# Relembrando que os operadores no Pandas para E, OU e NAO sao: &, |, ~

# transformar uma coluna em uma serie, por exemplo para year
yearonly = df['year']

# verificando o seu tipo
type(yearonly)

In [ ]:
############################ ESTATISTICA !!! ##################################

# Funcoes basicas como: mean, std, quantile, min, max. Complexas como: cov(covariance)
# e corr(correlation) e describe (gera estatistica descritiva para todas as colunas
# numericas ou serie)
# Exemplos

df['pop'].mean() # calculo da media
df.describe # percorre todo o DF e calcula a media, std, min, 25%, 50%, 75% e max

# Correlation - mostra se uma coluna possui correlacao com a outra
df[['lifeExp', 'pop', 'gpdPercap']].corr()

## Comandos Group By groupby() e Aggregate agg()
# Aplicacao - qual a expectativa de vida media por ano, considerando todos os paises?

df.groupby(['year'])['lifeExp'].mean()

# Para usar nossas proprias funcoes ou bib externas utilizamos o AGG.
# Ele agrega uma funcao de outra bib para calculos
# neste exemplo iremos calcular a media, mas usando o NP.
# O mesmo comando existe no pandas, em tese isso nao seria necessario, mas
# caso nao exista algo, devemos utilizar o AGG

import numpy as np
df.groupby(['year'])['lifeExp'].agg(np.mean)

# exemplo bacana com AGG, Comprehension e lambda

df.groupby(['year'])['pop'].agg([('media', np.mean),
 ('log10_somapop', lambda val: np.log10(val.sum()))])

# eh possivel agrupar com multiplas colunas. Top!! No exemplo abaixo agrupando
# por continente e ano!!!

yearcont = df.groupby(['year','continent'])[['pop','gpdPercap']].agg([np.mean, np.std])

# no exemplo acima, ano e continente se tornam indices.
# podemos resetar os indices

yearcont = yearcont.reset_index()
yearcont.head(10)