<a href="https://colab.research.google.com/github/fredericokrohling/1-Python-MBA/blob/main/Video_17_Express%C3%B5es_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Expresoes poderosas que podem ser utilizadas quando precisamos de utilizar uma funcao sem o DEF, por exemplo, dentro de um comprehension.
PRECISA SER ASSOCIADA A UM OBJETO, NAO PODEMOS CHAMA-LA DIRETAMENTE

Sintaxe:
lambra <arg1>,<arg2>:<expressao>
# expressao Ã© o que sai do calculo, o seu retorno.

In [1]:
#exemplo basico de funcao, elevar um numero ao quadrado
def quadrado(x):
  return x**2
#nao precisa estar em codigo independente e nao precisa usar o print!!
quadrado(2)

4

In [3]:
# calculando a mesma coisa usando lambda, forma de chamada e simples.

quad = lambda x: x**2
quad(9)

81

In [7]:
#exemplo de uso no comprehension
# Retorna Even para x par e ODD para x impar

f = lambda x: 'even' if (x%2 == 0) else 'odd'
print(2,f(2))
print(5,f(5))

2 even
5 odd

In [9]:
# aproveitando o codigo acima
lista_numeros = [1,1,2,3,45,6]
odd_or_even = [f(i) for i in lista_numeros]
print(odd_or_even)

['odd', 'odd', 'even', 'odd', 'odd', 'even']

In [10]:
#filtrar apeanas impares
filter_odd = [i for i in lista_numeros if f(i)=='odd']
print(filter_odd)

[1, 1, 3, 45]

In [20]:
cientistas = ['joao zico', 'maria maula', 'fernanda souza']
_ = [print(i) for i in cientistas]

joao zico
maria maula
fernanda souza

In [12]:
#DICA - COMANDO HELP - explica a estrutura do comando e o que podemos fazer
help(cientistas.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [18]:

print(cientistas[0].split()[-1].lower())

alves

In [21]:
# agora com o lambda
#split - pega um elemento e separa a sua string em espacos, com o -1 pego o ultimo desses elementos

cientistas.sort(key = lambda nome: nome.split()[-1].lower())
print(cientistas)

['maria maula', 'fernanda souza', 'joao zico']

In [28]:
# Desafio - Escrever uma expresao que permita receber uma string, com 2 palavras de um nome
# rerotne no formato SOBRENOME, NOME. Tudo em caixa alta
nomes_artistas = ['Bruce Willis', 'Daniel Craig', 'Marlon Brandon']

conversao = [f"{sobrenome.upper()}, {nome[0].capitalize() + '.'}" for nome, sobrenome in (nome.split() for nome in nomes_artistas)]
print(conversao)

['WILLIS, B.', 'CRAIG, D.', 'BRANDON, M.']