<a href="https://colab.research.google.com/github/fredericokrohling/1-Python-MBA/blob/main/Videos_15_comprehension_com_filtragem_e_16_comprehension_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #inserindo um If no comprehension, para filtrar caso seja satisfeito

In [6]:
#inserindo um If no comprehension, para filtrar caso seja satisfeito
#Gerar o quadrado dos numeros entre -20 e 20 e montar uma lista apenas com os numeros impares resultantes

lista_impar = [x**2 for x in range(-20,20) if (x**2)%2 !=0]
print(lista_impar)

m =[x**3 for x in range(-30,30) if (x**3) %2 ==0]
print(m)

[361, 289, 225, 169, 121, 81, 49, 25, 9, 1, 1, 9, 25, 49, 81, 121, 169, 225, 289, 361]
[-27000, -21952, -17576, -13824, -10648, -8000, -5832, -4096, -2744, -1728, -1000, -512, -216, -64, -8, 0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952]

In [1]:
#iterando por uma lista e retornando as disciplinas com mais de 3 creditos
# Cada elemento da lista eh uma tupla

disciplinas =[('a',2),('b',1),('c',4),('d',2),('e',3),('f',3),('g',5)]

dmaior3 = [(nome,cred) for (nome,cred) in disciplinas if cred >=3]

print(dmaior3)

# DUVIDA, COMO A NOVA LISTA ACUMULA VALORES SEM UM APPEND?

[('c', 4), ('e', 3), ('f', 3), ('g', 5)]

Fazendo a mesma coisa sem o comprehension

In [3]:
# metodo tradicional
disciplinas =[('a',2),('b',1),('c',4),('d',2),('e',3),('f',3),('g',5)]

disMaior3 = list() #outra forma de se criar listas
for (nome, cred) in disciplinas:
  if (cred>= 3):
    disMaior3.append((nome, cred))
print(disMaior3)

[('c', 4), ('e', 3), ('f', 3), ('g', 5)]

Usando IF-Else (PRECISA SER POSICIONADO ANTES DO FOR)

In [5]:
# COMPUTAR O QUADRADO DOS NUMEROS ENTRE -10 E 30. SE O RESULTADO FOR PAR SUBSTITUIR POR -1

l =[x**2 if (x**2)%2 !=0 else -1 for x in range(-10, 31)]
print(l)

[-1, 81, -1, 49, -1, 25, -1, 9, -1, 1, -1, 1, -1, 9, -1, 25, -1, 49, -1, 81, -1, 121, -1, 169, -1, 225, -1, 289, -1, 361, -1, 441, -1, 529, -1, 625, -1, 729, -1, 841, -1]

A partir de um vetor com numeros inteiros aleatorios, calular o seu log e criar uma lista com o resultado. Se o fumero for 0 substituir o valor por nan (bib math)

In [18]:
import random as rd
import math as mt
n=25
#rand_num = [rd.randint(0,10) for _ in range(n)]

v = [mt.log(y) if y!=0 else mt.nan for y in [rd.randint(0,10) for _ in range(n)]]
print(v)

[nan, 1.3862943611198906, 1.3862943611198906, 1.6094379124341003, 1.791759469228055, 1.9459101490553132, nan, 0.6931471805599453, 1.0986122886681098, 2.1972245773362196, 2.0794415416798357, 1.6094379124341003, 1.9459101490553132, 2.0794415416798357, 2.1972245773362196, 1.0986122886681098, 1.3862943611198906, 0.6931471805599453, 1.9459101490553132, 1.6094379124341003, 2.1972245773362196, 1.3862943611198906, 1.9459101490553132, 1.9459101490553132, 2.1972245773362196]